.main{
  margin: 0;

}

.name{
  padding-left: 50px;
  align-items: center;
}

.myNavbar{
      width: 100%;
      margin:0;  
      background: #176BAD;
      padding: 10px 0;
      color: #fff;
  }
  .fixed-header{
      top: 0;
  }
  
  .container{
      width: 60%;
      margin: 0 auto; 
      text-align: center;
  }
  nav a{
      color: #fff;
      text-decoration: none;
      padding: 7px 25px;
      display: inline-block;
  }
  


  .header {
height:100px;
text-align: center;
background: #E9F5FE;
color: #176BAD;
font-size: 20px;
}
.notice{
      width: 100%;
      margin-top: 0%;       
      background: #EFE6FD;
      padding: 10px 0;
      color: #0f0000c4;
  }

  .signupbutton {
background-color: #0E3F66; 
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 4px 2px;
cursor: pointer;

border-top-left-radius: 35%;
border-top-right-radius: 35%;
border-bottom-left-radius: 35%;
border-bottom-right-radius: 35%;

}
/*
img {
float: right;
}*/

.title{
  text-align: center;
  font-weight: bold;
}

.image-box {
  position: relative;
  margin-right: 20px; 
}

.info{
  padding-left: 4%;
  font-size: 28px;
  font-weight: bold;
  width:40%;
  
  }

  .info1{
    padding-left: 4%;
    font-size: 28px;
    width:40%;
  }

.image-text-container {
  display: flex;                                                                                                                            
 justify-content: space-evenly;
 margin-bottom: 3%;
  
}

.column {
  width: 100%; 
}
.image-container1{
  width:1000px;
   height:60%;
   
}

.img{
  width: 1670px; 
  height:300px;
}


.img-container{
  margin-left: 5%;
  margin-right: 5%;
  margin-top:3%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 20%;
  display:flex;
  
}

.img-card{
  width:15%;
  /*background-color: #176BAD;*/
  padding: 15px;
  justify-content: center;
  margin: 1.5%;

}



.footercontainer{
  width: 100%;
  margin: 0 auto; 
}

.icons{
           
  background: #176BAD;
  padding: 5px 0;
 
}
.foo{
  text-align: right;
  padding-left: 30%;
  width:66%;
  font-size: 15px; 
  align-items: center;
}



.fa {
  padding: 15px;
  font-size: 20px;
  width: 13px;
  height:10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #3B5998;
}

.fa-linkedin {
  background: white;
  color: #3B5998;
}

.fa-youtube {
  background: white;
  color: #3B5998;
}

.fa-instagram {
  background: white;
  color: #3B5998;
}