 .myNavbar, .fixed-footer{
      width: 100%;
             
      background: #176BAD;
      padding: 10px 0;
      color: #fff;
  }
  .fixed-header{
      top: 0;
  }
  .fixed-footer{
      bottom: 0;
  }
  .container{
      width: 60%;
      margin: 0 auto; 
  }
  nav a{
      color: #fff;
      text-decoration: none;
      padding: 7px 25px;
      display: inline-block;
  }
  .header {

text-align: center;
background: #E9F5FE;
color: #176BAD;
font-size: 20px;
}
.notice{
      width: 100%;
             
      background: #EFE6FD;
      padding: 10px 0;
      color: #0f0000c4;
  }

  .signupbutton {
background-color: #0E3F66; 
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 4px 2px;
cursor: pointer;

border-top-left-radius: 35%;
border-top-right-radius: 35%;
border-bottom-left-radius: 35%;
border-bottom-right-radius: 35%;

}
img {
float: right;
}
.info{
  padding-left: 10%;
  font-size: 23px;
  }
.title{
  text-align: center;
  font-weight: bold;
}
.image-container {
  display: flex;
  justify-content: space-between;
  width: 155px; 
  height:137px;
}

.image-box {
  position: relative;
  margin-right: 20px; 
}

.rectangle {
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px; 
  height: 137px; 
  background-color: #f02121; 
  opacity: 0.5; /* transparency */
  z-index: -1;
}

.image-box img {
  width: 155px; /* Set width of images */
  height:137px;
  height: auto; 
}